<ng-container id="page-top">
  <!-- Navigation-->
  <app-navigation></app-navigation>
  <!-- Masthead-->
  <app-master-header></app-master-header>
  <!-- Portfolio Section-->
  <app-portfolio></app-portfolio>
  <!-- About Section-->
  <app-about></app-about>
  <!-- Contact Section-->
  <app-contact></app-contact>
  <!-- Footer-->
  <app-footer></app-footer>
  <!-- Copyright Section-->
  <app-copyright></app-copyright>
  <!-- Portfolio Modals-->
  <app-portfolio-modals></app-portfolio-modals>
</ng-container>
