<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2
      class="page-section-heading text-center text-uppercase text-secondary mb-0"
    >
      Portfolio
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Portfolio Grid Items-->
    <div class="row justify-content-center">
      <!-- Portfolio Items-->
      <ng-container *ngFor="let portfolioItem of portfolioItems">
        <div
          class="col-md-6 col-lg-4 mb-5"
          [ngClass]="{
            'mb-lg-0': ['Controller', 'Locked Safe'].includes(
              portfolioItem.title
            )
          }"
        >
          <app-potfolio-item [modalData]="portfolioItem"></app-potfolio-item>
        </div>
      </ng-container>
    </div>
  </div>
</section>
